
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table class="table">
    <tr>
        <td>Client Id:</td>
        <td>@Html.TextBox("")</td>
    </tr>
    <tr>
        <td>Client Name:</td>
        <td>@Html.TextBox("")</td>
    </tr>
    <tr>
        <td>Redirect Uris:</td>
        <td>@Html.TextBox("")</td>
    </tr>
    <tr>
        <td>Post Logout Redirect Uris:</td>
        <td>@Html.TextBox("")</td>
    </tr>
    <tr>
        <td>Allowed Scopes:</td>
        <td>@Html.TextBox("")</td>
    </tr>
    <tr>
        <td>Client Secrets:</td>
        <td>@Html.TextBox("")</td>
    </tr>
</table>


